     
#divIntro {
  float: left;
  width: 30%;
  height: 15%;
}

#divControls {
  float: left;
  width: 30%;
  height: 30%;
}

/* Styling for 3D view */
#divplot {
  width: 95%;
  height: 40%;
}

/* Styling for lineage tree */
.lineage_tree {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.lineage_tree svg{
  width: 100%;
}

.node {
  cursor: pointer;
}

.node text {
  font: 10px sans-serif;
  color: black;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* Styling for slider */
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 300px;
}

input[type=range]:focus {
  outline: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #C0C0C0;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #2394F5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #C0C0C0;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #2394F5;
  cursor: pointer;
}

/* Additional styling for the distortion slider */
input[id=distortion_slider]::-webkit-slider-thumb {
  width: 100px;
  height: 25px;
  margin-top: -5px;
  border-radius: 5px;
  background: #2394F5;
  opacity: 0.9;
}

input[id=distortion_slider]::-moz-range-thumb {
  width: 100px;
  height: 25px;
  margin-top: -5px;
  border-radius: 5px;
  background: #2394F5;
  opacity: 0.9;
}

input[id=distortion_slider]{
  width: 100%;
}

#reset-button {
  margin-bottom: 20px;
  display: block;
  width: 150px;
}

#playpause {
  margin-bottom: 20px;
}

/* Styling for buttons */
#playpause, input[type="button"] {
  background-color: #2394F5;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #2394F5;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  width:60px;
  padding:10px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-right: 10px;
  outline: 0;
}

#playpause:hover, input[type="button"]:hover {
	opacity: 0.9;
}

#playpause:active, input[type="button"]:active {
	position:relative;
	top:1px;
}

/* Overriding styling for certain buttons */
input[class="add-highlight"], input[class="removehi"] {
  width: 30px;
  padding: 0;
  font-size: 20px;
}

input[id="showhide-highlight"] {
  width: 150px;
  font-size: 12px;
  padding: 3px 3px;
}

.chosen-single .chosen-default {
  background-color: orange;
}

/* Styling for color picker input box */
input[type="text"] {
  background-color: #edf0f3;
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  border: 2px solid white;
  margin-right: 10px;
}

input[type="text"]:focus,
input[type="text"].focus {
  border: 2px solid #E6E6E6;
  outline: 0;
}

/* Styling for color picker selector */
input[type="color"] {
  border-radius: 5px;
  background-color: #FFFFFF;
  width: 40px;
  border: 1px solid #E6E6E6;
}

input[type="color"]:focus {
  outline: 0;
}

/* Styling for playback speed buttons */
.select-style {
  text-align:center;
    border: 1px solid #ccc;
    margin: 0 auto;
    position: relative;
    top: 10px;
    width: 100px;
    border-radius: 3px;
    display: inline-block;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.select-style select {
    padding: 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
